@import 'tailwindcss';
@theme {
	--font-sans: 'Sen', ui-sans-serif, system-ui, sans-serif;
	--color-clip-green-500: #50cfaf;
	--color-clip-green-600: #218477;
	--color-clip-purple-500: #8b4fcf;
	--color-clip-purple-600: #6524ad;
	--color-clip-blue-500: #419fda;
	--color-clip-blue-600: #116ba4;
	--color-hover: #26262c;
	--color-zinc-350: #c9c9ce;
	--color-zinc-370: #b6b6bb;
	--color-zinc-925: #0f0f10;
}
@custom-variant height-xl (@media (height >= 870px));
@custom-variant height-lg (@media (height >= 750px));
@font-face {
	font-family: Sen;
	font-style: normal;
	font-weight: 400 800;
	font-display: swap;
	src: url('/fonts/sen.woff2') format('woff2');
}
