@import 'tailwindcss';
@theme {
	--font-sans: 'Sen', ui-sans-serif, system-ui, sans-serif;
	--color-clip-green-500: #50cfaf;
	--color-clip-green-600: #3a8a75;
	--color-clip-purple-500: #8b4fcf;
	--color-clip-purple-600: #6524ad;
	--color-clip-blue-500: #419fda;
	--color-hover: #26262c;
}
